$bg-color: #1d1e22;
@use "../../globals";

.container {
  width: 400px;
  height: auto;
  padding: 0px 32px;
  background-color: $bg-color;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

.gradient {
  background: radial-gradient(
    55.19% 100.85% at 50% -0.85%,
    #18a748 0%,
    rgba(24, 167, 72, 0.45) 22.64%,
    rgba(24, 167, 72, 0.15) 55.46%,
    rgba(24, 167, 72, 0.01) 100%
  );
  height: 40px;
  position: absolute;
  width: 100%;
  left: 0;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
}

.headline {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  margin-top: 32px;
}

.autoBuy {
  padding: 0 12px;
  margin-bottom: 16px;
}

%button {
  height: 40px;
  border-radius: 4px;
  color: white;
  border: none;
  @extend %text;
}

.button {
  @extend %button;
  width: 100%;
  background-color: rgba(88, 95, 108, 1);
  @extend %buttonGradient;
}

.buttonsContainer {
  padding: 16px 12px;
  display: flex;
  justify-content: space-between;
}

.buttonCancel {
  @extend %button;
  width: 160px;
  background-color: rgba(88, 95, 108, 1);
  @extend %buttonGradient;
}

.buttonOk {
  @extend %button;
  width: 160px;
  background-color: rgba(24, 167, 72, 1);
  @extend %buttonGradient;
}
