%subtext {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  color: rgb(187, 187, 187);
}

%text {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
}
