%subtext {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  color: rgb(187, 187, 187);
}

%text {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
}

%buttonGradient {
  background: radial-gradient(
      50% 53.75% at 50% 0%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.4) 100%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
